html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  max-width: 680px;
  margin: 0 auto;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title-tooltip {
  position: fixed;
  bottom: 150px;
  right: 60px;
}
  
.title-tooltip::before {
  content: attr(title);
  position: absolute;
  width: 80px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  margin-bottom: 8px;
  background-color: #4D7653;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3s;
}
  
.title-tooltip:hover::before {
  opacity: 1;
}