@import url('https://fonts.googleapis.com/css2?family=Popiins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(300deg, #E9E0CF, #E9CEB9);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

form {
    margin-top: -100px;
}

input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.weather {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}