.header {
    width: 100%;
}
.Lbutton {
    background: #FF5675;
    border: none;
    border-radius: 5px;
    width: 200px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Lbutton:hover {
    background: #fc7c4d;
    border: none;
    border-radius: 5px;
    width: 130px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Lbutton {
        margin-right: 3px;
    }
    
    .Lbutton:hover {
        margin-right: 3px;
    }
}