<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <link rel="shortcut icon" type="image/x-icon" href="https://image.freepik.com/free-vector/r-letter_53876-60362.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>회원탈퇴</title>
</head>
<body>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/">메인</a></li>
                <li><a href="/profile">내 정보</a></li>
                <li><a href="/update">정보 수정</a></li>
                <li><a href="/auth/logout">로그아웃</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                {{#if user.authid}}
                    회원 탈퇴 확인
                {{else}}
                    비밀번호 확인
                {{/if}}
            </div>
            <div class="card-body">
                <form action="/auth/withdrawal" method="POST">
                    {{#if user.authid}}
                        <div class="form-group">
                            <label for="Check" style="margin-bottom: 10px;">정말로 탈퇴하시겠습니까?</label>
                            <input type="hidden" name="authid" value="{{user.authid}}">
                        </div>
                    {{else}}
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                        </div>
                    {{/if}}

                    <button type="submit" class="btn btn-primary">회원탈퇴</button>
                </form>
            </div>
        </div>

        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>