@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

:root {
  --noto-font-family: 'Noto Sans KR', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  background: #2e374c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: var(--noto-font-family);
  font-size: 3vmin;
}

section {
  padding: 0.5rem;
}

.Menu {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
}

.Menu h2 {
  color: #2e374c;
  font-family: var(--noto-font-family);
  font-size: 20px;
}

.Menu select {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid;
  margin-left: 15px;
}

.Menu button {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid;
  margin-left: 15px;
  cursor: pointer;
}

.Loading {
  width: 250px;
  height: 250px;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contents div {
  margin: 3px 3px;
  padding: 2px 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.totalCorona {
  margin-left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #2e374c;
}