.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  background: #3b5998;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  height: 30px;
  width: 60px;
}

section {
  padding: 0.5rem;
}

.Menu {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
}

.Menu select {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid;
  margin-left: 15px;
}

.Menu button {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid;
  margin-left: 15px;
  cursor: pointer;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contents div {
  margin: 3px 3px;
  padding: 2px 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
