.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    animation: morph 1.5s infinite;
}

.message {
    margin-top: 10px;
    font-weight: bold;
}

@keyframes morph {
    0%, 100% {
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: black;
    }

    50% {
        border-radius: 5%;
        transform: rotate(180deg);
        background-color: black;
    }
}