.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: auto;
}

.img {
  max-width: 60px;
}

.searchTitle {
  font-size: 24px;
  font-weight: bold;
}

.searchInput {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.searchBtn {
  border: none;
  background: none;

  svg {
    width: 20px;
    height: 20px;
    color: grey;
  }
}

.active {
  color: tomato;
  text-decoration: none;
}

.nonActive {
  color: #000;
  text-decoration: none;
}

.navContainer nav {
  display: flex;
  gap: 10px;
}

.search input {
  position: relative;
  width: 200px;
  height: 80px;
  display: inline-block;
}

.search input {
  height: inherit;
  padding: 7px 30px 7px 7px;
  border-radius: 10px;
  border-color: #000;
  margin: 0 0 10px 0;
}

/* Chrome, Opera, Safari */
.search input::-webkit-input-placeholder {
  color: #000;
  text-align: center;
}

/* Firefox 18- */
.search input:-moz-placeholder {
  color: #000;
  text-align: center;
}

/* Firefox 19+ */
.search input::-moz-placeholder {
  color: #000;
  text-align: center;
}

/* IE(Edge) 10+ */
.search input:-ms-input-placeholder {
  color: #000;
  text-align: center;
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: inherit;
  background: url(https://img.icons8.com/pastel-glyph/2x/cancel.png) center
    center no-repeat;
  background-size: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
