@font-face {
  font-family: "SBBfont";
  src: url("../public/fonts/SB\ 어그로\ B.ttf");
}

@font-face {
  font-family: "SBLfont";
  src: url("../public/fonts/SB\ 어그로\ L.ttf");
}

@font-face {
  font-family: "SBMfont";
  src: url("../public/fonts/SB\ 어그로\ M.ttf");
}

.sbFont {
  font-family: "SBBfont";
}