nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: goldenrod;
    text-decoration: none;
}

.row {
    margin-top: 80px;
}

.card {
    width: 18rem;
    margin-left: 50px;
}

.jumbotron {
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 39rem;
    padding: 10px;
}

.form-control {
    margin: 10px 0px;
}

.auth {
    margin-top: 10px;
}

.auth .facebook {
    font-size: 20px;
    color: #3b5998;
    font-weight: bold;
    text-decoration: none;
}

.auth .google {
    font-size: 20px;
    color: #ea4335;
    font-weight: bold;
    text-decoration: none;
}

.auth .naver {
    font-size: 20px;
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
}

.auth .kakao {
    font-size: 20px;
    color: #F7E600;
    font-weight: bold;
    text-decoration: none;
}